<html>
  <head>
    <title><%= namePage %> Data</title>
  </head>
  <body>
    <h2><a href="/">Home</a></h2>
    <h2><a href="/students">Students</a></h2>
    <h2><a href="/subjects">Subjects</a></h2>
    <h2><a href="/teachers">Teachers</a></h2>
    <br>