<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Subject</title>
</head>
<body>
    <h1>Add Subject Data</h1>
    <form action="/subject/add" method="POST">
        Subject name:<br>
        <input type="text" name="subjectName">
        <br><br>
        <button>SUBMIT</button>
      </form> 
    <br>
    <a href="/subject">back</a>
</body>
</html>