<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

</body>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>
        <%=header%>
    </h1>
    <form action="/teacher/add" method="POST">
        <input name="id" style="display: none;">
        <p>First name :</p>
        <input type="text" name="firstName">
        <p>Last name :</p>
        <input type="text" name="lastName">
        <p>Email :</p>
        <input type="text" name="email">
        <p>Subject Id :</p>
        <select name="subjectId">
            <% for (let i = 0; i < data.length; i++) {%>
                <option value="<%=data[i].id%>"><%=data[i].subjectName%></option>
            <%}%>
        </select>
        <br>
        <br>
        <input type="submit" value="submit">
    </form>

</body>

</html>

</html>