<html>
<head>
<title>Buitenzorg School</title>
</head>
<body>
  <h1>Buitenzorg School Data</h1>
  <li><a href="/teachers">Teachers</a></li>
  <li><a href="/subjects">Subjects</a></li>
  </div>
</body>
</html>