<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <h1>School Database</h1>
        </div>
        <div class="client">
            <span class="logo"></span>
            <h2>Students</h2>
            <a href="students">
                <h3>List of Students </h3>
            </a>
        </div>
        <div class="client">
            <span class="logo"></span>
            <h2>Teachers</h2>
            <a href="teachers">
                <h3>List of Teachers </h3>
            </a>
        </div>
        <div class="client">
            <span class="logo"></span>
            <h2>Subjects</h2>
            <a href="subjects">

                <h3>List of Subjects</h3>
            </a>

        </div>
        <div class="client">
            <span class="logo"></span>
            <h2>Students</h2>
            <a href="students/add">
                <h3>Add Students Data</h3>
            </a>
        </div>
        <div class="client">
            <span class="logo"></span>
            <h2>Teachers</h2>
            <a href="teachers/add">
                <h3>Add Teachers Data</h3>
            </a>
        </div>
        <div class="client">
            <span class="logo"></span>
            <h2>Subjects</h2>
            <a href="subjects/add">

                <h3>Add Subject Data</h3>
            </a>

        </div>
        <div class="clearer"></div>


    </div>
</body>

</html>