<% include partials/header %>
<h1> Welcome to homepage! </h1>

<div id="menu">
    <button class="b1"><a href="/teachers" class="action-button shadow animate blue">Teachers</a></button>
    <hr>
    <button class="b2"><a href="/students" class="action-button shadow animate blue">Students</a></button>
    <hr>
    <button class="b3"><a href="/subjects" class="action-button shadow animate blue">Subjects</a></button> 
</div>


<% include partials/footer %>