<!doctype html>
<html lang="en">
  <%- include('partials/head', { title: 'Homepage' }) %>
  <body>
    <%- include('partials/navbar') %>
    <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <center>
            <img src="https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1482132470/vfmmn0twb17nn2epblee.png" alt="">
            <h1>WELCOME TO SYSTEM ACADEMY HACKTIV8</h1>
          </center>
        </div>
      </div>
    </div>
    <%- include('partials/script') %>
  </body>
</html>