<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body><br>
    <div class="container" style="text-align: center">
        <h1>Student Homepage</h1><br>
        <div class="container">
                <button type="button" class="btn btn-primary" onclick="location.href = '/student'">Student</button>  
                <button type="button" class="btn btn-primary" onclick="location.href = '/teacher'">Teacher</button> 
                <button type="button" class="btn btn-primary" onclick="location.href = '/subject'">Subject</button>   
        </div>
    </div>
</body>
</html>