<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>subjects-teachers</title>
</head>
<body>
    <div class="container">
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Subject Name</th>
                    <th>Teacher</th>
                </tr>
            </thead>
            <tbody>
                <% let counter = 1 %>
                <% subject.forEach( (dataSubject) => { %>
                    <tr>
                        <td><%= dataSubject.id %></td>
                        <td><%= dataSubject.name %></td>  
                        <td>
                            <% dataSubject.Teachers.forEach ( (dataTeacher) => { %>
                                <%= `${counter}. ${dataTeacher.first_name} ${dataTeacher.last_name}`%><br>
                                <% counter++ %>
                            <% }) %>      
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>