<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <br>
    <h1>DATA SUBJECT</h1>
    
    <a href="">ADD DATA SUBJECT</a>
    <br><br>
    <div class="container"> 
    <table  class="table">
            <thead>
                 <tr>
                    <th>id</th>
                    <th>SubjectName</th>
                    <th>Teacher</th>
                    <th>Option</th>
                    
                </tr>
             </thead>
            <tbody>
                <tr>
                     <%dataSubject.forEach((subjectData) => {%>
                        <td> <%= subjectData.id %></td>
                        <td> <%= subjectData.subjectName %></td>
                        <td>
                            <ol>
                                <% subjectData.Teachers.forEach((dataTeachers,i) => {%>
                                    <li> <%= dataTeachers.firstName %> <%= dataTeachers.lastName %></li>
                                <%})%>
                            </ol>
                        </td>
                        <td>
                            <a href="">EDIT</a> | <a href="/subject/delete/<&= subjectData.id %>">DELETE</a>
                        </td>
                       
                </tr>
                <%})%>

            </tbody>
    </table>
    <div>
        <a href="/">BACK</a>
    </div>
</div>
    
</body>
</html>