<html>
  <head>
    <title>Add Subject</title>
  </head>
  <body>
    <h2><a href="/">Home</a></h2>
    <br>
    <form action="/subjects/add" method="POST">
      Subject Name: <br/>
      <input type="text" name="subject_name"> <br/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
