<html>
  <head>
    <title>Edit Teacher</title>
  </head>
  <body>
    <h2><a href="/">Home</a></h2>
    <br>
    <form action="/teachers/edit/<%= teacher.id %>" method="POST">
      First Name: <br/>
      <input type="text" name="first_name" value="<%= teacher.first_name %>"> <br/>
      Last Name: <br/>
      <input type="text" name="last_name"  value="<%= teacher.last_name %>"> <br/>
      Email: <br/>
      <input type="email" name="email" value="<%= teacher.email %>"> <br/>
      <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <button type="submit" onclick="return alert('Data updated!')">Submit</button>
    </form>
  </body>
</html>