<!DOCTYPE html>
<html>
<head>
	<title>Form Add Teacher</title>
</head>
<body>

	<p> <%= msg %> </p>

	<form method="post" action="/teacher">
		<label>First Name: </label>
		<input type="text" name="firstName" value="<%= user.firstName %>">
		<br>
		<label>Last Name: </label>
		<input type="text" name="lastName" value="<%= user.lastName %>">
		<br>
		<label>Email: </label>
		<input type="text" name="email" value="<%= user.email %>">
		<br>
		<input type="submit" value="Add">
	</form>

</body>
</html>