<html>
<body>
<h2>Add Subject</h2>
<p><a href ="/subjects">show all data</a></p>
    <form action="/subject/add" method="post">
    Subject Name:<br>
    <input type="text" name="subjectName">
    <br><br>
    <input type="submit" value="Submit">
    </form> 
<p><a href ="/">home</a></p>
</body>
</html>

