<!DOCTYPE html>
<html>
<head>
<title>Subjects</title>
</head>
<body>
    <h1>Edit Subject</h1>
    <p><a href ="/subjects">subject data</a></p>
    <div class="edit_subject_table">
        <form action="/subject/edit/<%= editSubject.id%>" method="post">
            Subject:<br>
            <input type="text" name="subjectName" value="<%= editSubject.subjectName%>">
            <br>
            <br><br>
            <input type="submit" value="Edit Subject">
        </form>
    </div>
<p><a href ="/">home</a></p>
</body>
</html>