<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Subject Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="vertical-center-row">
            <div align="left">
                <h1>
                    <%= title %>
                </h1>
            
                <div>
                    <form action="/subjects/add" method="POST">
                        Subject Name:
                        <br>
                        <input type="text" name="subjectName" placeholder="Subject Name">
                        <br>
                        <br>
                        <button type="submit" value="Submit">Submit</button>
                    </form>
                </div>
                <br>
                <div align="left">
                    <a href="/subjects" class="btn btn-primary" role="button">Subjects List</a>
                    </button>
                    <a href="/" class="btn btn-primary" role="button">Back to Homepage</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>