<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Teacher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Add Teacher</h1>
    <a href="/teachers"><h4 class="text-center">Show All Teachers</h4></a>

    <% if(err !== null){%>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <%= err.message %>
            </div>
        </div>
    <%}%>
    
    <form action="/teachers/add" method="POST">
        <div class="container">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" class="form-control">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="form-control">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control">
            <label for="">Subject</label>
            <select name="SubjectId" class="form-control">
                <% data_subjects.forEach(subject => { %>
                    <option value="<%=subject.id%>" ><%=subject.subjectName%></option>
                <% })%>
            </select>
            <br>
            <button class="btn btn-info">Submit</button>
        </div>
    </form>
</body>
</html>