<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add a Subject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/student-css/inputStudent.css" />
    <script src="main.js"></script>
</head>

<body>
    <form action="/subjects/add"  class="form" method="POST">
        <h2>Register Subject</h2>
        <p type="Subject Name:">
            <input placeholder="Write your Subject name here.." type="text" name="subjectName"></input>
        </p>
     
        <a href="/">Home</a>
        <button>
            <input type="submit"  value='Add'>
        </button>


    </form>

</body>

</html>