<html>
<body>
<h2>Add Teacher Data</h2>
<p><a href ="/teachers">show all data</a></p>
    <form action="/teacher/add" method="post">
    First name:<br>
    <input type="text" name="firstName">
    <br>
    Last name:<br>
    <input type="text" name="lastName">
    <br>
    Email:<br>
    <input type="text" name="email">
    <br>
    Subject Name:<br>
    <select name="subjectId">
        <option value="1">Fisika</option>
        <option value="2">Ekonomi</option>
        <option value="3">Kimia</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
    </form> 
<p><a href ="/">home</a></p>
</body>
</html>

